.container{
    width: 100%;
}

.wrapper{
    
}
.topsection{
    width: 100%;
    background-color: #009faa1c;
    padding: 8rem 8rem;
}

.topsection a{
    text-decoration: none;
    color: var(--body);
    font-size: var(--font-size-h4);
    transition: 0.2s ease-in-out;
    display: flex;
    opacity: 0.9;
    
}

.topsection a:hover{
    opacity: 0.8;
}
.topsection a:active{
    opacity: 1;
}

.topsection .title{
    font-size: var(--font-size-h3);
    color: var(--light-high);
    font-weight: 700;
}

.topsection .main{
    margin-top: 1rem;
    display: flex;
    align-items: end;
    gap: 1rem;
}

.topsection .slash{
    font-size: var(--font-size-h3);
}

.topsection .aboutus{
    color: var(--primary);
    font-size: var(--font-size-h4);
}

@media(max-width:56rem){
    .topsection{
        padding: 4rem 4rem;
    }

    .topsection .title{
        font-size: var(--font-size-h4);
    }

    .topsection .main{
        font-size: var(--font-size-normal)
    }
}

@media(max-width:37rem){
    .topsection{
        padding: 2rem 1rem;
    }
}