.container{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 8rem;
    background-color: var(--light-high);
}

.title{
    font-size: var(--font-size-h4);
    font-weight: 700;
    text-align: center;
    color: var(--white);
}

.heading{
    color: var(--white);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: var(--font-size-h2);
}

.cards{
    width: 70%;
    display: flex;
    height: auto;
    margin-top: 5rem;
    margin: 0 auto;
    gap: 1rem;
    overflow: hidden;
    margin-top: 4rem;
}

.card{
    background-color: #009faad7;
    border-radius: 10px;
    width: 27rem;
    height: 30rem;
    flex-shrink: 0;
    padding: 2rem;
}

.image{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.name{
    color: var(--white);
    text-align: center;
    margin-top: 1rem;
    font-size: var(--font-size-small);
    font-weight: 700;
}

.comment{
    color: var(--white);
    text-align: center;
    margin-top: 1rem;
    font-size: var(--font-size-normal);
}

.icon{
    display: inline-block;
    color: var(--white);
    font-size: var(--font-size-h4);
    margin: 0.5rem;
    opacity: 0.5;
}

.buttons{
    width: fit-content;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    gap: 5rem;
}

.buttons button{
    background-color: transparent;
    border: none;
    color: var(--primary);
    font-size: var(--font-size-large);
    cursor: pointer;  
    transition: .2s ease-in-out;
}

.buttons button:hover{
    color: var(--white);
}

.buttons button:active{
    color: var(--primary);
}

@media(max-width:37rem){
    .heading{
        width: 90%;
    }

    .cards{
        width: 90%;
    }
}
